<div class="container">

<div class="display-container">
  <p class="casio">CASIO</p>
  <div class="solar">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <span class="model"><i>fx</i>-85MS</span>
  <p class="display" [ngClass]="isOff === true ? 'offDisplay' : ''">{{ equation }}</p>

  <div class="buttons">
    <button (click)="concatOperator('AC')">AC</button>
    <button (click)="command('%')">%</button>
    <button (click)="command('DEL')">DEL</button>
    <button (click)="concatOperator('/')">/</button>
    <button (click)="updateCurrNum('7')">7</button>
    <button (click)="updateCurrNum('8')">8</button>
    <button (click)="updateCurrNum('9')">9</button>
    <button (click)="concatOperator('*')">x</button>
    <button (click)="updateCurrNum('4')">4</button>
    <button (click)="updateCurrNum('5')">5</button>
    <button (click)="updateCurrNum('6')">6</button>
    <button (click)="concatOperator('-')">-</button>
    <button (click)="updateCurrNum('1')">1</button>
    <button (click)="updateCurrNum('2')">2</button>
    <button (click)="updateCurrNum('3')">3</button>
    <button (click)="concatOperator('+')">+</button>
    <button (click)="updateCurrNum('0')">0</button>
    <button (click)="addDecimal()">.</button>
    <button (click)="calculate()">=</button>
    <button (click)="command('Off')">{{isOff === true ? 'ON' : 'OFF'}}</button>
  </div>
</div>
</div>

